body{
	background: #EEE;
}

.field_error{
	border: 1px solid red;
}

.padding-0{
	padding: 0;
}

.margin-0 {
	margin: 0;
}

#response_msg{
	margin: 20px 0;
}

#response_msg span {
	width: 100%;
	display: block;
}

.customForm{
	margin: 50px auto;
	width: 400px;

}